:root {
    --background-color: #2f2f2f;
}

* {
    box-sizing: border-box;
}

::-webkit-scrollbar {
    display: none;
}
  
noscript {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    position: fixed;
    top: 0;
    left: 0;
    z-index: 100;
    width: 100vw;
    height: 100vh;
    background-color: rgba(0, 0, 0, 0.5);
    color: red;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
}

body {
    margin: 0;
    padding: 0;
    background-color: #212121;
    background-image: url(../../../assets/img/background.jpg);
    background-attachment: fixed;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center bottom;
    overflow-x: hidden;
    font-family: Arial, Helvetica, sans-serif;
}

header {
    width: 100%;
    height: 100vh;
    background-color: var(--background-color);
    position: relative;
    user-select: none;
}
#map {
    position: relative;
    z-index: 0;
    width: 100%;
    height: 100vh;
    box-shadow: 0 0 2vmin rgba(0, 0, 0, 1);
}
#picture--frame {
    position: absolute;
    z-index: 3;
    left: 50vw;
    top: 50vmin;
    width: 40vmin;
    height: 40vmin;
    transform: translate(-50%, -50%);

    border: 2vmin var(--background-color) solid;
    border-radius: 50%;
    box-shadow: 0 0 2vmin inset rgba(0, 0, 0, 1);
    background-color: rgb(56, 56, 56);
    background-image: url(../../../assets/img/logo_3.svg);
    background-size: 70%;
    background-position: center 35%;
    background-repeat: no-repeat;

    line-height: calc(40vmin - .5rem);
    text-align: center;
}
.picture--shadow {
    position: absolute;
    z-index: 1;
    left: 50vw;
    top: 50vmin;
    width: 40vmin;
    height: 40vmin;
    transform: translate(-50%, -50%);
    border-radius: 50%;
    box-shadow: 0 0 2vmin rgba(0, 0, 0, 1);
}


main {
    position: absolute;
    z-index: 2;
    top: 50vmin;
    left: 50vw;
    transform: translateX(-50%);

    width: 100%;
    max-width: 1024px;
    padding-top: 25vmin;
    box-shadow: 0 0 2vmin rgba(0, 0, 0, 1);
    border-radius: 2vmin 2vmin 0 0;
    background-color: var(--background-color);
    color: white;
}
h1 {
    text-align: center;
    text-transform: uppercase;
    font-weight: 600;
    font-size: 2rem;
}
table {
    width: 100%;
    max-width: 1024px;
    border-collapse: collapse;
    margin-bottom: 5vmin;
}
caption, h2 {
    padding: 3vmin;
    text-transform: uppercase;
    text-align: start;
    font-weight: 600;
    font-size: 1.5rem;
    border-style: solid;
    border-color: #3a3a3a;
    border-width: .5vmin 0 0 0;
}
td {
    width: 50%;
    border: none;
    border-style: solid;
    border-color: #3a3a3a;
    border-width: .5vmin;
    padding: 3vmin;
}
td:nth-child(1) {
    border-left-width: 0px;
}
td:nth-child(2) {
    border-right-width: 0px;
}

.chart {
    margin: 0 auto;
    width: 95%;
}
#chart {
    margin: 0 auto;
}

footer {
    padding: 5vmin;
    background-color: #1b1b1b;
    text-align: center;
}
.sponsors {
    width: 100%;
    display: flex;
    justify-content: space-evenly;
    align-content: center;
}
.sponsors img {
    display: block;
    max-height: 15vh;
    align-self: center;
}
.copy {
    margin-top: 5vmin;
}



#MicrosoftNav,
#CopyrightContainer,
.bm_bottomRightOverlay,
.bm_bottomLeftOverlay {
  display: none;
}
