@import 'partials/header';
@import 'partials/main';
@import 'partials/footer';

::-webkit-scrollbar:horizontal {
  display: none;
}

::-webkit-scrollbar {
  width: 1vw;
}

::-webkit-scrollbar-track {
  background-color: #2a2a2a;
}

::-webkit-scrollbar-thumb {
  background: #888; 
}

*{
  box-sizing: border-box;
}

button {
  outline: none;
}

a {
  color: inherit;
}

noscript {
  display: flex;
  position: fixed;
  top:0;left: 0;z-index: 100;
  width: 100vw;
  height: 100vh;
  background-color: rgba(0, 0, 0, .5);
  color: red;
  justify-content: center;
  align-items: center;
}

:root {
  font-family: BigNoodleTooOblique, Arial, Helvetica, sans-serif;
  scroll-behavior: smooth;
  --page-background-color: rgba(192, 192, 192, 1);
  --page-color: rgba(0, 0, 0, 1);
  --header-background-color: rgba(42, 42, 42, 1);
  --header-color: rgba(255, 255, 255, 1);
  --footer-background-color: rgba(42, 42, 42, 1);
}

body {
  margin: 0;
  min-height: 100vh;
  background-color: var(--page-background-color);
  background-image: url(../img/background.jpg);
  background-size: cover;
  background-attachment: fixed;
  overflow-x: hidden;
}

header, footer {
  box-shadow: 0 0 1vmax #00000080;
}