header {
  position: fixed;
  top: 0;
  left: 0;
  z-index: 10;
  width: 100vw;
  height: 10vh;
  padding: 0 1vw;
  background-color: var(--header-background-color);
  color: var(--header-color);
}

header svg#logo {
  height: 10vh;
}

header button {
  margin: 0;
  padding: 0 2vw;
  border: none;
  height: 10vh;
  background: transparent;
  color: inherit;
  font-size: 3vh;
  font-family: inherit;
}

header svg, header button {
  float: left;
  border-bottom: .5vh solid transparent;
}

header svg:hover, header button:hover {
  border-bottom-color: var(--header-color);
}

#filter1 {
  color: var(--header-color);
}

/* @media only screen and (max-width: 800px) {
  header {
    height: 5vh;
  }
}
 */
main {
  width: 100vw;
  overflow: scroll;
  scroll-behavior: smooth;
}

main .container {
  width: 300vw;
}

main .container .slide {
  float: left;
  padding: 10vh 4vw;
  position: relative;
  width: 100vw;
  min-height: 100vh;
}

main .container .slide div {
  width: 92vw;
  margin: 8vh auto;
  background-color: #2a2a2a;
  padding: 5vh;
  color: white;
  border-radius: 1vh;
}

main .container .slide div embed {
  margin: 5vh 0 0 0;
  width: 100%;
  height: 57vh;
  border-radius: 1vh;
}

main .container .slide iframe#map-frame {
  width: 92vw;
  height: calc(90vh - 8vw);
  position: absolute;
  top: 55vh;
  left: 4vw;
  -webkit-transform: translateY(-50%);
          transform: translateY(-50%);
  border-radius: 1vh;
  -webkit-box-shadow: 0 0 1vmax #00000080;
          box-shadow: 0 0 1vmax #00000080;
}

footer {
  background-color: var(--footer-background-color);
  padding: 1vh;
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  -ms-flex-line-pack: center;
      align-content: center;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

footer img {
  display: block;
  max-height: 15vh;
  max-width: 100%;
  -ms-flex-item-align: center;
      -ms-grid-row-align: center;
      align-self: center;
}

::-webkit-scrollbar:horizontal {
  display: none;
}

::-webkit-scrollbar {
  width: 1vw;
}

::-webkit-scrollbar-track {
  background-color: #2a2a2a;
}

::-webkit-scrollbar-thumb {
  background: #888;
  border-radius: .5vw;
}

* {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

button {
  outline: none;
}

a {
  color: inherit;
}

noscript {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  position: fixed;
  top: 0;
  left: 0;
  z-index: 100;
  width: 100vw;
  height: 100vh;
  background-color: rgba(0, 0, 0, 0.5);
  color: red;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

:root {
  font-family: BigNoodleTooOblique, Arial, Helvetica, sans-serif;
  scroll-behavior: smooth;
  --page-background-color: rgba(192, 192, 192, 1);
  --page-color: rgba(0, 0, 0, 1);
  --header-background-color: rgba(42, 42, 42, 1);
  --header-color: rgba(255, 255, 255, 1);
  --footer-background-color: rgba(42, 42, 42, 1);
}

body {
  margin: 0;
  min-height: 100vh;
  background-color: var(--page-background-color);
  background-image: url(../img/background.jpg);
  background-size: cover;
  background-attachment: fixed;
  overflow-x: hidden;
}

header, footer {
  -webkit-box-shadow: 0 0 1vmax #00000080;
          box-shadow: 0 0 1vmax #00000080;
}
/*# sourceMappingURL=index.css.map */