footer {
  background-color: var(--footer-background-color);
  padding: 1vh;
  text-align: center;
  .sponsors {
    width: 100%;
    display: flex;
    justify-content: space-around;
    align-content: center;
    flex-wrap: wrap;
    padding: 1vh 0;
    img {
      display: block;
      max-height: 15vh;
      max-width: 100%;
      align-self: center;
    }
  }
}