header {
  position: fixed;
  top: 0;
  left: 0;
  z-index: 10;
  width: 100vw;
  height: 10vh;
  padding: 0 1vw;
  background-color: var(--header-background-color);
  color: var(--header-color);
  svg#logo {
    height: 10vh;
  }
  button {
    margin: 0;
    padding: 0 2vw;
    border: none;
    height: 10vh;
    background: transparent;
    color: inherit;
    font-size: 3vh;
    font-family: inherit;
  }
  svg, button {
    float: left;
    border-bottom: .5vh solid transparent;
    &:hover {
      border-bottom-color: var(--header-color);
    }
  }
}


#filter1 {
  color: var(--header-color);
}

/* @media only screen and (max-width: 800px) {
  header {
    height: 5vh;
  }
}
 */