main {
  width: 100vw;
  overflow: scroll;
  scroll-behavior: smooth;
  .container {
    width: 300vw;
    .slide {
      float:left;
      padding: 10vh 4vw;
      position: relative;
      width: 100vw;
      min-height: 100vh;
      iframe, embed {
        width: 92vw;
        height: calc(90vh - 8vw);
        position: relative;
        margin: 8vh auto 0;
        border-radius: 1vh;
        box-shadow: 0 0 1vmax #00000080;
      }
    }
  }
}
